<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventDrivenProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key ="connectionString"
			 value="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|BankAccountsDB.mdf;Integrated Security = True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <EventDrivenProgram.Properties.Settings>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
        </EventDrivenProgram.Properties.Settings>
    </applicationSettings>
</configuration>